body,ul,li,p,img{
	margin:0;
	padding:0;

}
.wrap
{
	width:1920px;
}
.header{
	width:1920px;
	height:600px;
}
.nav
{
	border-top: solid;
	border-color:#ccc;
	width:1920px;
	height:100px;
	background-color:#123456;
}
.nav ul li {
	list-style-type:none;
	display:inline;
   	padding-left:50px;
}
.nav ul{
	margin-left:100px;
	margin-top:20px;
}
.nav ul li a:hover{
	color:#124fff;
}
.nav ul li a{
	text-decoration: none;
	font-size:50px;
	font-family: 华文琥珀;
	color:#33ffff;
}
.one,.two,.three,.four,.five,.six
{
	float:left;
	width:315px;
	height:400px;
    border:1px solid #ccc;

}
.marset img{
	padding-left:50px;
}
.marset p{
	text-align:center;
	font-size:20px;
	font-weight: 500;

}
.footer p{
	text-align:center;
	clear:both;
	font-size:20px;
	font-weight: 500;
	background-color:#ccc;
}
